/* top_site */
.top_site{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--main-color-red);
    transition: 0.7s;
    z-index: 10;
    font-size: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.top_site__active{
    display: flex;
}

.top_site:hover{
    background-color: var(--main-color-black);
}
/* top_site */

/* header */
header{
    position: relative;
}

.header_top{
    width: 100%;
    position: absolute;
    z-index: 5;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scroll-menu{
    position: fixed;
    top: 0;
    padding: 5px 0;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    animation-duration: 0.7s;
    animation-name: scroll-menu__open;
    animation-fill-mode: forwards;
}

@keyframes scroll-menu__open{
    from {
        height: 0;
    }
    to {
        height: 100px;
    }
}

.nav .icon{
   margin: 0 15px;
    transition: 0.7s;
    display: inline-block;
    cursor: pointer;
}

.nav .icon:hover{
    transform: rotateY(180deg);
}

.basket{
    position: relative;
    display: inline-block;
}

.basket .quantity{
    position: absolute;
    right: -4px;
    border-radius: 50%;
    background-color: var(--main-color-red);
    width: 16px;
    height: 16px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%)
}

.main-slider-slide{
    position: relative;
}

.slide-content{
    top: 32%;
    width: 40%;
    position: absolute;
}

.slide-content:before{
    content: "";
    background: url(../img/header/left.png) no-repeat scroll left top;
    width: 90px;
    height: 138px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.slide-content:after {
    content: "";
    background: url(../img/header/right.png) no-repeat scroll right top;
    width: 122px;
    height: 122px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.slider-description{
    margin: 0 auto;
    text-align: center;
    background: url(../img/header/slider_text_bkg.png) no-repeat scroll center center;
    background-size: contain;
    color: #ff92a2;
    height: 100px;
    font-weight: 600;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-title{
    margin-top: 20px;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    line-height: 110px;
}

.slide-content__left{
    left: 3%;
    transition: all 1s;
}

.slide-content__right{
    right: 3%;
    transition: all 1s;
}

.swiper-slide-active .slide-content__left{
    left: 12%;
}

.swiper-slide-active .slide-content__right{
    right: 12%;
}

header .swiper-button-prev{
    left: 130px;
}

header  .swiper-button-next{
    right: 130px;
}

header:hover .swiper-button-prev{
    opacity: 1;
    left: 100px;
}

header:hover .swiper-button-next{
    opacity: 1;
    right: 100px;
}

header .swiper-button-next, header .swiper-button-prev{
    border: 2px solid var(--main-color-white);
    color: var(--main-color-white);
    background:inherit;
    opacity: 0;
    transition: 0.7s;
}
/* header */

/* types_cocktails */
.types_cocktails-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.types_cocktails-item{
    position: relative;
    overflow: hidden;
}

.types_cocktails-item a:after{
    background: rgba(0, 0, 0, 0.11);
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    width: 0;
    height: 0;
}

.types_cocktails-item:hover a:after{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transition-duration: 1.3s;
    -moz-transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
    -khtml-transition-duration: 1.3s;
    -o-transition-duration: 1.3s;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    height: 100%;
    width: 100%;
}

.types_cocktails-item:hover img{
    transform: scale(1.05);
}

.types_cocktails-item img{
    transition: all 0.3s;
}

.types_cocktails-item__title{
    position: absolute;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.types_cocktails-item__title-right, .types_cocktails-item__title-left{
    width: 45%;
    top: 82px;
}

.types_cocktails-item__title-right{
    right: 0;
}

.types_cocktails-item__title-left{
    left: 20px;
}

.types_cocktails-item__title-top{
    top: 36px;
    left: 0;
    width: 100%;
}
/* types_cocktails */

/* about_us */
.about_us-content{
    display: grid;
    grid-template-columns: 42% 1fr;
    grid-column-gap: 45px;
    margin-top: 40px;
}

.about_us-content__image{
    transition: all 0.5s;
}

.about_us-content__image:hover{
    transform: scale(1.03);
}

.about_us-content__services .service-title{
    color: var(--main-color-black);
    font: 700 20px/24px "Signika";
    text-transform: capitalize;
    letter-spacing: 1px;
}

.about_us-content__services .service-desc{
    color: var(--main-color-grey);
    font: 400 14px/20px "Muli";
    text-transform: capitalize;
    letter-spacing: 1px;
}

.services{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.service-img {
    position: relative;
    float: left;
    display: block;
    height: 120px;
    width: 120px;
    background: rgba(0,0,0,0) url(../img/about_us/services-bg.png) no-repeat scroll 0 0 / contain;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -khtml-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    text-align: center;
    margin-right: 35px;
}

.service-img:hover{
    background: rgba(0,0,0,0) url(../img/about_us/services-hover-bg.png) no-repeat scroll 0 0 / contain;
}

.about_us-content__services .icon{
    transition: all 0.5s;
}

.about_us-content__services > .services:nth-child(1) .service-img:hover .icon{
    background-position: -105px -17px;
}

.about_us-content__services > .services:nth-child(2) .service-img:hover .icon{
    background-position: -105px -97px;
}

.about_us-content__services > .services:nth-child(3) .service-img:hover .icon{
    background-position: -105px -188px;
}

.service-img .icon{
    position: relative;
    float: none;
    display: inline-block;
    height: 60px;
    width: 60px;
    background: rgba(0,0,0,0) url(../img/about_us/store-services.png) no-repeat scroll 0 0;
    margin: 30px 0;
}

.about_us-content__services > .services:nth-child(1) .icon{
    background-position: -15px -17px;
}

.about_us-content__services > .services:nth-child(2) .icon{
    background-position: -15px -97px;
}

.about_us-content__services > .services:nth-child(3) .icon{
    background-position: -15px -188px;
}

.service-desc{
    max-width: 380px;
}
/* about_us */

/* parallax-banner */
.parallax-banner{
    background: url(../img/parallax-banner/parallax-banner.jpg) no-repeat;
}

.parallax-banner .container{
    position: relative;
    height: 100%;
}

.banner-content{
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.banner-content__title{
    font: 700 60px/64px "Signika";
    margin-bottom: 20px;
}

.banner-content__subtitle{
    font: 700 88px/86px "Signika";
    margin-bottom: 20px;
}
/* parallax-banner */

/* trending-products */
.products-list{
    position: relative;
    display: none;
}

.products-list.list-action{
    display: block;
    animation-duration: 1.5s;
    animation-name: list-show;
    animation-fill-mode: forwards;
}

@keyframes list-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tabs{
    display: flex;
    justify-content: center;
}

.tab{
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    font: 400 14px/20px "Muli";
    text-transform: capitalize;
    padding: 12px 20px;
    color: var(--additional-color-black);
    background: var(--main-color-white);
    border-radius: 25px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.tab-active, .tab:hover{
    color:var(--main-color-white);
    background: var(--main-color-red);
}

.product-group > .product:first-child{
    margin-bottom: 20px;
}

.products-list .swiper-button-next, .products-list .swiper-button-prev{
    opacity: 0;
}

.products-list:hover .swiper-button-next, .products-list:hover .swiper-button-prev{
    opacity: 1;
}
/* trending-products */

/* interactive-block */
.interactive{
    margin: 0 15px;
    position: relative;
}

.interactive-text{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 50%;
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

.interactive-text__left{
    left: 40px;
}

.interactive-text__right{
    width: calc(45% - 40px);
    right: 40px;
}

.interactive-text__title{
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;
}

.interactive-text__offer-title{
    text-transform: capitalize;
    color: #fff;
    background: url(../img/interactive-block/cms_text_bkg.png) no-repeat scroll center center;
    background-size: contain;
    display: inline-block;
    font-family: "Signika",Helvetica,sans-serif;
    font-size: 20px;
    line-height: 84px;
    padding: 0;
    align-items: center;
    width: 237px;
    height: 72px;
}

.interactive:before, .interactive:after{
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s;
    display: block;
    position: absolute;
}

.interactive:before{
    width: 0;
    left: 50%;
    height: calc(100% - 10px);
    top: 5px;
}

.interactive:hover::before{
    width: calc(100% - 10px);
    left: 5px;
    border-bottom: 1px solid var(--main-color-white);
    border-top: 1px solid var(--main-color-white);
}

.interactive:after{
    height: 0;
    top: 50%;
    width: calc(100% - 10px);
    left: 5px;
}

.interactive:hover::after{
    height: calc(100% - 10px);
    top: 5px;
    border-left: 1px solid var(--main-color-white);
    border-right: 1px solid var(--main-color-white);
}
/* interactive-block */

/* reviews */
.reviews .container{
    position: relative;
    height: 100%;
}
.swiper-reviews{
    width: 50%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    padding-bottom: 35px;
}

.review{
    text-align: center;
}

.review-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.review-img:before{
    content: "\e977";
    font-family: 'icomoon' !important;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--main-color-red);
    color: var(--main-color-white);
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: -15px;
}

.review-img img{
    border-radius: 50%;
}

.review-data{
    margin-top: 40px;
}

.user-name{
    font: 600 22px/24px "Signika",Helvetica,sans-serif;
    margin-bottom: 10px;
}

.user-designation{
    font: Italic 500 14px/16px "Muli",Helvetica,sans-serif;
    margin-bottom: 20px;
}

.user-text{
    font: Italic 400 16px/24px "Muli",Helvetica,sans-serif;
}

.swiper-reviews .swiper-pagination{
    bottom: 0;
}

.swiper-reviews .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: var(--main-color-white);
    opacity: 1;
    transition: all 0.7s;
}

.swiper-reviews .swiper-pagination-bullet-active{
    background-color: var(--main-color-red);
}
/* reviews */

/* specials */
.specials-product{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px,285px) );
    grid-column-gap: 70px;
    grid-row-gap: 40px;

}
/* specials */

/* blogs */
.blogs-content{
    position: relative;
}
.blog-item{
    border: 1px solid var(--additional-color-grey);
    border-radius: 15px;
    padding: 10px;
    width: 430px;
}

.blog-img{
    height: 265px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.blog-img img{
    border-radius: 15px;
    transition: all 0.7s;
    background-color: rgba(255, 0, 0, 0.5);
}

.blog-img:before, .blog-img:after{
    content: "";
    background-color: var(--main-color-red);
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.7s;
}

.blog-img:after{
    background-color: var(--main-color-white);
}

.blog-img:hover img{
    transform: scale(1.1);
}

.blog-img:hover:before{
    opacity: 0.8;
}

.blog-img:hover:after{
    opacity: 0.2;
}

.blog-img .button-icon{
    background: transparent;
    border: 2px solid var(--main-color-white);
}

.blog-img .button-icon:hover{
    background: var(--main-color-red);
    border: none;
}

.blog-img:hover .product-image__icons{
    opacity: 1;
}

.blog-text{
    height: 105px;
    margin-top: 15px;
    overflow: hidden;
    padding: 0 5px;
}

.blog-name a{
    color: var(--main-color-black);
    font: 700 18px/20px "Signika",Helvetica,sans-serif;
    display: inline-block;
    margin-bottom: 10px;
}

.blog-description{
    color: var(--main-color-grey);
    font: 400 14px/20px "muli",Helvetica,sans-serif;
    margin-bottom: 15px;
}

.blog-more{
    color: var(--main-color-black);
    font: 400 13px/20px "Muli",Helvetica,sans-serif;
}

.blogs-content .swiper-button-next, .blogs-content .swiper-button-prev{
    opacity: 0;
}

.blogs-content:hover .swiper-button-next, .blogs-content:hover .swiper-button-prev{
    opacity: 1;
}
/* blogs */

/* partners */
.partners .container{
    position: relative;
    padding: 0 50px;
}

.partners .swiper-button-next, .partners .swiper-button-prev{
    opacity: 1;
    width: 31px;
    height: 31px;
    color: var(--main-color-black);
    top: 60%;
    overflow: hidden;
    transition: all 0.7s;
}

.partners .swiper-button-next{
    right: -20px;
}

.partners .swiper-button-prev{
    left: -20px;
}

.partners .swiper-button-next:after, .partners .swiper-button-prev:after{
    font-size: 12px;
    position: absolute;
}

.partners:hover .swiper-button-next, .partners:hover .swiper-button-prev{
    opacity: 1;
}

.partners .swiper-button-next:hover:after{
    animation-duration: 0.7s;
    animation-name: slidein-next;
    animation-fill-mode: forwards;
}

.partners .swiper-button-prev:hover:after{
    animation-duration: 0.7s;
    animation-name: slidein-prev;
    animation-fill-mode: forwards;
}

@keyframes slidein-next {
    from {
        right: 7px;
    }
    50%{
        right: -12px;
        opacity: 0;
    }
    51%{
        opacity: 1;
        right: 38px;
        color: var(--main-color-white);
    }
    to {
        right:  7px;
        color: var(--main-color-white);
    }
}

@keyframes slidein-prev {
    from {
        left: 7px;
    }
    50%{
        left: 19px;
        opacity: 0;
    }
    51%{
        opacity: 1;
        left: -38px;
        color: var(--main-color-white);
    }
    to {
        left:  7px;
        color: var(--main-color-white);
    }
}
/* partners */

/* footer */
footer{
    background-color: #191c1c;
    padding: 80px 0;
    font-family: "Muli", Helvetica, sans-serif;
}

.footer-blocks{
    display: flex;
    justify-content: space-between;
}

footer h5{
    font: 600 20px/22px "Signika",Helvetica,sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
}

footer li a, footer p, footer li{
    line-height: 25px;
    color: #ccc;
    font-size: 13px;
    font-weight: 600;
}

footer li{
    max-width: 200px;
}

.footer-block{
    max-width: 420px;
}

footer span{
    margin-right: 15px;
}

.footer-location:before{
    content: "\e947";
}

.footer-mail:before{
    content: "\ea86";
}

.footer-address:before{
    content: "\e944";
}

.footer-location:before, .footer-mail:before, .footer-address:before{
    color: #ccc;
    font-size: 14px;
    font-family: icomoon;
    position: absolute;
    left: 0;
}

.footer-location, .footer-mail, .footer-address{
    padding-left: 25px;
    position: relative;
}

.footer-news{
    margin-top: 30px;
    position: relative;
}

footer a:hover{
    color: var(--main-color-red);
}

.news-input{
    background: transparent;
    height: 45px;
    width: 100%;
    border-radius: 0;
    padding: 10px 130px 10px 20px;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.footer-news .button{
    position: absolute;
    bottom: 5px;
    right: 0;
}

/* footer */